"sendgrid.env" 
"sendgrid.env"  source ./sendgrid.env
"sendgrid.env" 
"sendgrid.env"  source ./sendgrid.env
"sendgrid.env"  source ./sendgrid.env
"sendgrid.env"  
"sendgrid.env"  source ./sendgrid.env
/build/
/dist/