/**
* Shows how you can use CSS to style your Element's container.
*/
*{
    font-family: roboto;
    font-size: 15px;
}
.container{
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 93%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.QueueLoader {
  display: none;
  position: fixed;
  z-index: 1100;
  top: 50%;
  left: 45%;
  padding-left: 18px;
}
@media only screen and (max-width: 1000px){
    .QueueLoader {
        left: 37%;
    }
}
.QueueLoader img {
  margin-top: 6px;
  margin-left: 6px;
  position: relative;
  z-index: 1001;
  border-radius: 100%;
  box-shadow: #000c3b 0 0 8px 1px;
  /*opacity: 0.1;*/
  height: 43px;
  width: 43px;
  animation: spin 10s linear infinite;
}

.QueueLoaderSpinner {
  position: fixed;
  z-index: 100;
  height: 50px;
  width: 50px;
  background-color: #313ddc;
  border: #313ddc 2px solid;
  border-bottom: #ffffff 2px solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.subscriptions-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    max-width: 350px;
    width: 100%;
    margin: auto;
}
.subscription-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    padding: 5px;
}
.each-subscription{
    cursor: pointer;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    margin: 0 5px;
}
.each-subscription:hover{
    color: white;
    background-color: darkblue;
}
.each-subscription.active{
    color: white;
    background-color: darkblue;
}
#card-errors{
    padding: 5px;
    color: red;
}
button[type='submit']{
    margin: auto;
    width: 95%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
}